table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #6d47c4;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #cdcbf0;
}
button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
